*{
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}
/*article{*/
/*  height: 100%;*/
/*  width: 100%;*/
/*  font-family: 'Poppins', sans-serif;*/
/*  padding: 50px;*/
/*}*/
/*.first-answ{*/
/*  background-color: #ff5656;*/
/*}*/
/*.h2{*/
/*  font-size: 30px;*/
/*}*/